{% extends 'main/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<body class="min-h-screen "
    style="background-image: url(https://cdn.pixabay.com/photo/2019/04/29/07/46/rice-cultivation-4165415_1280.jpg); background-repeat: no-repeat; background-size: cover; background-attachment: fixed;">
    <div class="w-full h-full flex items-center justify-center ">
        <div class="rounded overflow-hidden w-96 h-fit bg-gray-900 bg-opacity-70 shadow-lg justify-center items-center my-10">
            <div class="flex flex-col items-center  ">
                <span class="w-24 h-24 mt-4 bg-cover rounded-full"
                    style="background-image: url(https://cdn.pixabay.com/photo/2016/11/14/04/17/buffalo-1822574_1280.jpg); "></span>
                <div class="mt-8 text-white text-xl">สมัครสมาชิก</div>
                <div class="text-white">
                    <form action="{% url 'register' %}" method="POST" class="w-full grid-cols-1 p-5">
                        {% csrf_token %}
                        <!-- {{ form|crispy}} -->
                        <!-- {{ profile|crispy }}  -->

                        <div class="form-field mb-4">
                            {{ form.username.label_tag }}
                            {{ form.username }}
                            {{ form.username.errors }}
                        </div>
                        <div class="form-field mb-4">
                            {{ form.email.label_tag }}
                            {{ form.email }}
                            {{ form.email.errors }}
                        </div>
                        <div class="form-field mb-4">
                            {{ profile.locations.label_tag }}
                            {{ profile.locations }}
                            {{ profile.locations.errors }}
                        </div>
                        <div class="form-field mb-4">
                            {{ profile.phon_numbers.label_tag }}
                            {{ profile.phon_numbers }}
                            {{ profile.phon_numbers.errors }}
                        </div>
                        <div class="form-field mb-4">
                            {{ form.password1.label_tag }}
                            {{ form.password1 }}
                            {{ form.password1.errors }}
                        </div>
                        <div class="form-field mb-4">
                            {{ form.password2.label_tag }}
                            {{ form.password2 }}
                            {{ form.password2.errors }}
                        </div>
                        <div class="form-field mt-8 text-center">
                            <button
                                class="w-auto px-4 py-2 flex justify-center text-white bg-blue-500 rounded hover:bg-blue-700 mx-auto"
                                type="submit">สมัครสมาชิก</button>
                        </div>
                    </form>
                    <p class="text-center mb-7">
                        <a href="{% url 'login' %}" class="text-white hover:underline ">เข้าสู่ระบบ</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}