{% extends 'main/base.html' %}
{% load humanize %}

{% block content %}

<div class="container mx-auto mt-12 text-center">
    <i class="fas fa-check-circle text-green-500 text-9xl mb-8"></i>
    <h2 class="text-3xl font-bold">รายละเอียด ผู้เช่า-การเช่า</h2>
</div>

<div class="container mx-auto w-2/2 p-12 mt-12 mb-12">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="p-4">
                    <div class="flex items-center"></div>
                </th>
                <th scope="col" class="px-4 lg:px-6 py-3">ชื่อ</th>
                <th scope="col" class="px-4 lg:px-6 py-3">ที่อยู่ผู้เช่า</th>
                <th scope="col" class="px-4 lg:px-6 py-3">โทร</th>
            </tr>
        </thead>
        <tbody>
            {% for users in users %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <td class="px-4 lg:px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ i.user}}</td>
                <td class="px-4 lg:px-6 py-4">{{ users.user }}</td>
                <td class="px-4 lg:px-6 py-4">{{ users.location }}</td>
                <td class="px-4 lg:px-6 py-4">{{ users.phon }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="container mx-auto w-2/2 p-12 mt-12 mb-12">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="p-4">
                    <div class="flex items-center"></div>
                </th>
                <th scope="col" class="px-4 lg:px-6 py-3">ชื่ออุปกรณ์</th>
                <th scope="col" class="px-4 lg:px-6 py-3">วันที่เช่า</th>
                <th scope="col" class="px-4 lg:px-6 py-3">ราคา</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <td class="px-4 lg:px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ i.user}}</td>
                <td class="px-4 lg:px-6 py-4">{{user.product.product_name}}</td>
                <td class="px-4 lg:px-6 py-4">{{ user.product.datetime }}</td>
                <td class="px-4 lg:px-6 py-4">{{ user.product.product_price|intcomma }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="invoice-footer mt-12 text-center">
        <p class="text-5xl font-bold">Thank You</p>
    </div>
</div>



{% endblock %}