{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block content %} 


<body class="min-h-screen "
    style="background-image: url(https://cdn.pixabay.com/photo/2019/04/29/07/46/rice-cultivation-4165415_1280.jpg); background-repeat: no-repeat; background-size: cover; background-attachment: fixed;">
    <div class="w-full h-full flex items-center justify-center ">
        <div class="rounded overflow-hidden w-96 h-fit bg-gray-900 bg-opacity-70 shadow-lg justify-center items-center mt-10">
            <div class="flex flex-col items-center  ">
                <span class="w-24 h-24 mt-4 bg-cover rounded-full"
                    style="background-image: url(https://cdn.pixabay.com/photo/2016/11/14/04/17/buffalo-1822574_1280.jpg); "></span>
                    <div class="user-name mt-8 text-white text-xl mb-4">เข้าสู่ระบบ</div>
                <div class="text-white p-4 ">
                    <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        <!-- {{ form|crispy}} -->
                        {{ form.as_p }} 
                        <div class="form-field mt-8 text-center">
                            <button class="w-auto px-4 py-2 flex justify-center text-white bg-blue-500 rounded hover:bg-blue-700 mx-auto " type="submit">เข้าสู่ระบบ</button>
                        </div>
                        
                    </form>
                    <div class="text-center mt-7 mb-4">
                        <a href="/password_reset/">ลืมรหัสผ่าน</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %} 
