
{% extends 'main/base.html' %}
{% load humanize %}

{% block content %}

<div class="container mx-auto mt-12 text-center">
    <i class="fas fa-check-circle text-green-500 text-9xl mb-8"></i>
    <h2 class="text-3xl font-bold">รายละเอียด ผู้เช่า-การเช่า</h2>
</div>

<div class="container mx-auto w-2/2 p-12 mt-12 mb-12">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-4 lg:px-6 py-3">ชื่อ</th>
                <th scope="col" class="px-4 lg:px-6 py-3">ที่อยู่ผู้ปล่อยเช่า</th>
                <th scope="col" class="px-4 lg:px-6 py-3">โทร</th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <!-- <td class="px-4 lg:px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ i.user}}</td> -->
                <td class="px-4 lg:px-6 py-4">{{ product.user }}</td>
                <td class="px-4 lg:px-6 py-4">{{product.product_location}}</td>
                <td class="px-4 lg:px-6 py-4">{{ product.phon_number }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container mx-auto w-2/2 p-12 mt-4 mb-12">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-4 lg:px-6 py-3">ชื่ออุปกรณ์</th>
                <th scope="col" class="px-4 lg:px-6 py-3">วันที่เช่า</th>
                <th scope="col" class="px-4 lg:px-6 py-3">ราคา</th>
            </tr>
        </thead>
        <tbody>
            
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <td class="px-4 lg:px-6 py-4">{{product.product_name}}</td>
                <td class="px-4 lg:px-6 py-4">{{ product.datetime }}</td>
                <td class="px-4 lg:px-6 py-4">{{ product.product_price|intcomma }}</td>
            </tr>
            
        </tbody>
    </table>
    <div class="invoice-footer mt-12 text-center">
        <p class="text-5xl font-bold">Thank You</p>
    </div>
</div>



{% endblock %}





<!-- 

<div class="container mx-auto mt-12 text-center">
    <i class="fas fa-check-circle text-green-500 text-9xl mb-8"></i>
    <h2 class="text-3xl font-bold">การเช่าสำเร็จ</h2>
    
    <div class="mt-8">
        <a href="{% url 'show_product' %}" class="btn btn-success bg-green-300">เช่าอุปกรณ์เพิ่มเติม</a>
    </div>
</div>

<div class="container mx-auto w-2/2 p-12 mt-12 mb-12">
    <div class="bg-gray-100">
        <div class="grid grid-cols-3 p-5">
            <div class="font-bold">ที่อยู่ผู้ปล่อยเช่า</div>
            <div class="font-medium text-sm">ที่อยู่ผู้ปล่อยเช่า</div>
            <div class="font-medium text-sm">โทร</div>

        </div>
        <div class="grid grid-cols-3 p-5">
            <div class="font-bold"></div>
            <div class="font-medium text-sm">{{product.product_location}}</div>
            <div class="font-medium text-sm">{{ product.phon_number }}</div>
        </div>
    </div>

    <div class="bg-gray-100 mt-10">
        <div class="font-bold p-5">สั่งจอง</div>

        <div class="grid grid-cols-3 p-5">
            <div class="font-bold"></div>
            <div class="font-medium text-sm">วันที่เช่า</div>
            <div class="font-medium text-sm">ราคา</div>
        </div>
        <div class="p-5">
            <div class="grid grid-cols-3 p-5 bg-white">
                <div class="font-medium text-sm">{{product.product_name}}</div>
                <div class="font-medium text-sm">{{ product.datetime }}</div>
                <div class="font-medium text-sm">{{ product.product_price|intcomma }}</div>
            </div>
        </div>

    </div>


    <div class="invoice-footer mt-12 text-center">
        <p class="text-5xl font-bold">Thank You</p>
    </div>
</div>
 -->


